
@{
    ViewBag.Title = "Index";
}
<div class="row"><h2>Admin Menu</h2></div>
<div class="row"><a href="@Url.Action("Users","Admin")" style="text-decoration:underline;">User account management</a></div>
<div class="row"><a href="@Url.Action("Vehicles","Admin")" style="text-decoration:underline;">Vehicle inventory management</a></div>
<div class="row"><a href="@Url.Action("Makes","Admin")" style="text-decoration:underline;">Add Makes to database</a></div>
<div class="row"><a href="@Url.Action("Models","Admin")" style="text-decoration:underline;">Add Models to database</a></div>
<div class="row"><a href="@Url.Action("Specials","Admin")" style="text-decoration:underline;">Manage Specials</a></div>
<div class="row"><a href="@Url.Action("Index","Reports")" style="text-decoration:underline;">View Reports</a></div>
