@model IEnumerable<GuildCars.Models.Tables.User>
@{
    ViewBag.Title = "Users";
}
<div class="row">
    <h2>Users</h2>
</div>
<div class="row" style="margin:10px;">
    <a href="@Url.Action("AddUser","Admin")" style="text-decoration:underline;">Add a new User</a>
</div>
<div class="row">
    <table class="table table-striped table-sm" style="width:100%; border:2px solid black">
        <thead class="thead-dark">
            <tr>
                <th scope="col"><strong>Last Name</strong></th>
                <th scope="col" style="border-left:2px solid black"><strong>First Name</strong></th>
                <th scope="col" style="border-left:2px solid black"><strong>Email</strong></th>
                <th scope="col" style="border-left:2px solid black"><strong>Role</strong></th>
                <th scope="col" style="border-left:2px solid black"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.LastName</td>
                    <td style="border-left:2px solid black">@user.FirstName</td>
                    <td style="border-left:2px solid black">@user.Email</td>
                    <td style="border-left:2px solid black">@user.Role</td>
                    <td style="border-left:2px solid black">
                        <a href="@Url.Action("EditUser","Admin",new { UserID = user.UserID })" style="text-decoration:underline;">edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
